# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and checkpoints
.ipynb_checkpoints/
.pytest_cache/
*.swp
*~

# IDE configurations
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
